header{
    background-color: aqua;
    
}
.nav-top{
    background-color: rgb(26, 62, 204);
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}
.nav-top-link{
    color: white;
    text-decoration: none;    
}
.logo{
    display: flex;
    align-items: center;
    height: 118px;
    
}
.nav-bottom{
    background-color: lightgrey;
}
.nav-bottom-link{
    color: rgb(72, 67, 67);
    text-decoration: none;
    text-transform: uppercase;
}