body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}
main{
    background-color: rgba(81, 21, 21, 0.669);
}
.foto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    align-content: flex-start;
   
    
    background-color: rgb(81, 21, 21);
    width: 1000px;
    
    margin-left: calc(50% - 500px);
    margin-right: calc(50% - 500px);
    position: relative;
}
.foto>div{
    margin-left: 10px;
    margin-top: 10px;
   
   }
  
.kolekcija{
    display: flex;
    width: 320px;
    height: 300px;
    position: relative;    
}
.kolekcija>a{
    width: 100%;
    height: 100%;
}
.imgk{
    width: 100%;
    height: 100%;
   
}
.ukolekcija{
    background-color:  rgba(81, 21, 21, 0.582);
    color: white;
    font-size: 20px;
    border-radius: 20px;
    padding: 5px;
    text-transform: uppercase;
    position: absolute;
    bottom: 10px;
    right: 15px;
}
   .modeliavimas{
    display: flex;
    width: 320px;
    height: 300px;
    position: relative;
    
   }
  .modeliavimas>a{
    width: 100%;
    height: 100%;
  } 
   
   .taisymas{
    display: flex;
    width: 320px;
    height: 300px;
    position: relative;
   }
   .taisymas>a{
    width: 100%;
    height: 100%;
   }

   .siuvimas{
    display: flex;
    width: 650px;
    height: 300px;
    position: relative;
   }
.siuvimas>a{
    width: 100%;
    height: 100%;
}

   .uzuolaidos{
    
    width: 320px;
    height: 300px;
    position: relative;
   }
   .uzuolaidos>a{
    width: 100%;
    height: 100%;
   }
   .aprasymas{
    background-color: rgb(81, 21, 21) ;
    width: 1000px;
    margin-left: calc(50% - 500px);
    color: white;
    font-size: 20px;
   }
   .aprasymas>h2{
    padding-top: 40px;
    font-size: 2em;
   }
   ]