.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    justify-content: flex-start;
    background-color: rgb(81, 21, 21);
    width: 1000px;
    height: 640px;
    margin-left: calc(50% - 500px);
    margin-right: calc(50% - 500px);
    position: relative;
}
.main>div{
    float: left;
   }
.kolekcija{
    background-color: aliceblue;
    width: 320px;
    height: 300px;
    position: absolute;
    top: 20px;
    left: 2px;  
}


   .modeliavimas{
    background-image: url(/img/modeliavimas.png);
    background-size: cover;
    width: 320px;
    height: 300px;
    position: absolute;
    top: 20px;
    left: 340px;
   }
   .taisymas{
    background-image: url(/img/taisymas.png);
    background-size: cover;
    width: 320px;
    height: 400px;
    position: absolute;
    top: 20px;
    right: 0px;
   }
   .siuvimas{
    background-image: url(/img/siuvimas.png);
    background-size: cover;
    width: 660px;
    height: 300px;
    position: absolute;
    left: 0;
    bottom: 0;
   }
   .uzuolaidos{
    background-image: url(/img/uzuolaidos.png);
    background-size: cover;
    width: 320px;
    height: 200px;
    position: absolute;
    bottom: 0px;
    right: 0px;
   }